
body
{
    margin: 0;
    font-family:'Montserrat', sans-serif;
    
}
:root{
    --mainColor1: #f3c623;
    --mainColor2: #095058;
    --mainColor3: #f6eec7;
    --mainColor4: #a4d4ae;
    --mainColor5: #e7e7de;
}
/* Start CSS Containter */
.mainContainer{
    width: 100%;
    float: left;
    height: auto;
}
.mainTop{
    width: 100%;
    height: auto;
    display: flex;
}
.mainLeftRight{
    width: 100%;
    background-color:var(--mainColor5);
    height: auto;
}

/* End CSS Container */

/* Start CSS mainTop */
.menu_bar{
    width: 10%;
    
}
.menu_bar #iconbar{
    display:none;
}
.box_menu{
    width: 80%;
}
.mainTop .main_boxmenu{
    width: 80%;
    display: block;
    text-align: left;
    height: 120px;
    margin-right: 10%;
    margin-top:0;
    font-weight: bold;
  
}
.box{
    width: 20%;
    float: left;  
    text-align: center;
}
.img_box{
   width: 60px;
   max-width: 100%;
   height: auto; 
}
.img_box:hover{
    transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.overlay{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
/* End mainTop */
/* Start mainLeftRight */
.mainLeft{
    width: 25%;
    height: 100vh;
    float: left;
    background: var(--mainColor3);
}
.mainRight{
    width: 75%;
    height: auto;
    float: right;
}
/* End mainLeftright */
/* Start MainLeft */
.mainCateFill{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 50px;
}
.mainCategory{
    width: 100%;
    height: auto;
}
.mainFilter{
    width: 100%;
    height: auto;
}
/* End mainLeft */
/* END CSS MAIN RIGHT */
.mainRight iframe{
    width: 100%;
}
/* START CSS MAIN RIGHT */
/* Start mainCategory */
.category_title{
    /* position: relative; */
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    color: var(--mainColor2);
    font-weight: bold;
    background: var(--mainColor4);
    
}
.category_box{
    width: 75%;
      height: auto;
      margin: 30px auto;
      background-color:#fff;
      border-radius: 10px;
      border: var(--mainColor2)1px solid; 
      
}
/* End CSS mainCategory */
/* Start CSS category_box */
.category_boxitem{
    width: 100%;
    list-style: none;
    height: auto;
    padding:20px;
    box-sizing: border-box;
}
.category_box .item{
    width: 100%;
    margin:10px 0 10px 0;
    padding:0;
    
}
.itemlink{
    width: 90%;
    display: flex;
   }
.item .link{
    width: 70%;
    text-align: justify;

}
.item .link a{
   text-decoration: none;
   font-weight: bold;
   color: var(--mainColor2);
}
.item .icon{
    width: 30%;
    float: right;
}
.item .icon a{
    margin-left: 90px;
}
.item ul{
    list-style: none;
    width: 100%;
    height: auto;
} 
.item .drop_menu{
    padding:-10px;
    display:none;
} 

.item .drop_menu ul li a{
    display: block;
    color:var(--mainColor2);
    font-weight: smaller;
    text-decoration: none;
   
}
.item .drop_menu ul li a:hover{
    color: var(--mainColor1)
}
.item .drop_menu  #angle_down {
    display: block;
    cursor: pointer;
}
.item .drop_menu .icon a{
    text-decoration: none;
}
/* end css category_box */
/* start css mainFilter */
.mainFilter .filter_title{
    /* position: relative; */
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    color: var(--mainColor2);
    font-weight: bold;
    background: var(--mainColor4);
}
.mainFilter .filter_box{
    width: 75%;
      height: auto;
      margin: 30px auto;
      background-color:#fff;
      border-radius: 10px;
      border: var(--mainColor2)1px solid; 
}
/* end mainFilter */
/* Start filter_box */
.filter_boxitem{
    width: 100%;
    list-style: none;
    height: auto;
    font-weight: bold;
    color: var(--mainColor2);
    padding: 20px;
    
}
 .filter_input{
     margin-right: 8px;
     background-color: #b05555 ;}
input{
    margin: 10px;
} 
/* end filter_box */

/* start css menu_mobile */
.mainCateFil_mob .mainCategory_title{
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    color: var(--mainColor2);
    background: var(--mainColor4);
}
.mainCateFil_mob span{
    font-size: 14px;
}
.menu_mobile{
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    width: 320px;
    height: 100vh;
    max-width: 100%;
    background: var(--mainColor3);
    
    transform: translateX(-100%);
    
}
.menu_mobile .mainCateFill_mob{
    padding-top: 40px;
    display:block;
    }
.mainCateFil_mob .filter_title{
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    color: var(--mainColor2);
    background: var(--mainColor4);
}
.category_box_mob{
    width: 90%;
    height: auto;
    margin: 30px auto;
    background-color:#fff;
    border-radius: 10px;
    border: var(--mainColor2) 1px solid; 
}
.filter_box_mob{
    width: 90%;
      height: auto;
      margin: 30px auto;
      background-color:#fff;
      border-radius: 10px;
      border: var(--mainColor2) 1px solid; 
}
.filter_box_mob label{
    color: var(--mainColor2);
    font-weight: bold;
    font-size: 14px;
}
.iconclose{
    font-size: 17px;
    color: #666;
    position:absolute;
    top:1rem;
    right: 1rem;}
/* end css menu_mobile */

.input_mobile_mob:checked ~ .overlay{
    display:block;
}

.input_mobile_mob:checked ~ .menu_mobile{
    transform: translateX(0%);
    opacity: 1;
}
@media(max-width: 1300px)
{
 
.mainTop .main_boxmenu {
    width: 80%;
    display: block;
    text-align: left;
    height: 120px;
    margin-right: 5%;
    margin-top: 20px;
    font-weight: bold;
}


@media(max-width: 1200px)
{
    .mainTop{
        height: 150px;
    }
    
    .mainTop #iconbar{
        display: block;
        padding-top: 80px;
        padding-left: 30px;
    }
    .mainLeft{
        display: none;
    }
    .filter_boxitem_mob{
        padding: 10px;
    }
   
    .main_barmenu{
        display: block;
    }
    
    .mainLeft{
        display: none;
    }
    .mainRight{
        width: 100%;
    }
    .main_catefil_mob{
        
        display:block;
        }
    .menu_mobile{
        display:block;
    }
    label{
        font-size: 13px;
        font-weight: bold;
    }
    .filter_boxitem_mob{
        width: 100%;
        list-style: none;
        height: auto;
        font-weight: bold;
        color: black;
        padding: 0px;
    
    }
    .filter_box_mob{
        width: 80%;
        height: auto;
        margin: 30px auto;
        background-color: #fff;
        border-radius: 10px;
        border:#b05555 1px solid;
    }
    .category_box_mob{
     
        width: 80%;
        height: auto;
        margin: 30px auto;
        background-color: #fff;
        border-radius: 10px;
        border:#b05555 1px solid; 
    }
    .main_boxmenu {
       
        margin-right: 20%;
        
    }
    
    

}
@media(max-width: 1100px)
{
    .main_barmenu{
        display: block;
    }
    
    .mainLeft{
        display: none;
    }
    .mainRight{
        width: 100%;
    }
    .baricon{
        font-size: smaller;
    }
    .item .icon a{
        margin-left: 50px;
    }
    .filter_boxitem{
        padding: 8px
    }
    
}
    


    @media(max-width: 770px)
    {
        .mainTop .main_boxmenu {
            width: 80%;
            display: block;
            text-align: left;
            height: 90px;
            margin-right: 5%;
            font-size: 13px;
            font-weight: bold;
            margin-top:0;
       }
       .mainTop #iconbar{
        display: block;
        padding-top: 60px;
        padding-left: 30px;
    }
    .item .icon a{
        margin-left: 60px;
    }
    .item .link a{
        font-size: 13px;
    }
    .filter_boxitem_mob {
        padding: 5px;
    }
    }
    
    @media(max-width: 540px)
    {
        .mainRight{
            height: auto;
        }
        .mainTop{
            height: 80px;
        }
        .category_boxitem{
            padding: 15px;
        }
        .mainTop .main_boxmenu {
            width: 80%;
            display: block;
            height: 80px;
            margin-right: 5%;
            font-size: 12px;
       }
       .mainTop .img_box{
           width: 35px;
       }
       .mainTop .main_boxmenu p{
           font-size: 10px;
       }
       .mainTop #iconbar{
        display: block;
        padding-top: 40px;
        padding-left: 30px;
    }
    .mainCateFil_mob span{
        font-size: 12px;
    }
    .menu_mobile{
        width: 250px;
    }
    .menu_mobile .mainCateFill_mob{
        display:block;
        }
    .mainCateFil_mob .filter_title{
        height: 30px;
        line-height: 30px;
        text-align: center;
       
    }.mainCateFil_mob .category_title{
        height: 30px;
        line-height: 30px;
        text-align: center;
       
    }
    .category_box_mob{
        width: 85%;
        height: auto;
        margin: 30px auto;
    }
    .filter_box_mob{
        width: 85%;
          height: auto;
          margin: 30px auto;
    }
    .filter_box_mob label{
        color: var(--mainColor2);
        font-weight: bold;
        font-size: 12px;
    }
    .item .icon a{
        margin-left: 50px;
    }
    .item .link a{
       font-size: 13px;
    }
    .item .drop_menu ul li a {
        display: block;
        font-size: 11px;}
    #angle_down{
        font-size: 14px;
    }
    .iconclose{
        font-size: 14px;
        color:var(--mainColor2);
        position:absolute;
        top: 0.3rem;
        right: 0.5rem;
    }
    
    @media(max-width: 415px)
    {
        .mainTop .main_boxmenu {
            width: 80%;
            display: block;
            text-align: left;
            height: 85px;
            margin-right: 5%;
            font-size: 12px;
            font-weight: bold;
            margin-top:8px;
       }
       .mainTop .img_box{
           width: 25px;
       }
       .mainTop .main_boxmenu p{
           font-size: 8px;
       }
       .mainTop #iconbar{
        display: block;
        padding-top: 45px;
        padding-left: 20px;
        font-size: 12px;
    }
       
       
    }
    @media(max-width: 415px)
    {
        .mainTop .main_boxmenu {
            width: 80%;
            display: block;
            text-align: left;
            height: 80px;
            margin-right: 5%;
            font-size: 12px;
            font-weight: bold;
            margin-top:8px;
       }
       .mainTop .img_box{
           width: 25px;
       }
       .mainTop .main_boxmenu p{
           font-size: 7px;
       }
       .mainTop #iconbar{
        display: block;
        padding-top: 35px;
        padding-left: 20px;
        font-size: 12px;
    }
       
       
    }
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}}}