
body
{
    margin: 0;
    font-family:'Montserrat', sans-serif;  
    height: 1500px;
}
:root{
    --mainColor1: #f3c623;
    --mainColor2: #095058;
    --mainColor3: #f6eec7;
    --mainColor4: #a4d4ae;
    --mainColor5: #e7e7de;
}
/* START CSS FOR LIST PRODUCT */
.container{
    width: 100%;
    height: auto;
}
.container .boxItem{
    width: 25%;
    height: 310px;
    float: left;
    text-align: center;
}
.boxItem .gio{
    position: absolute;
    margin-left: 15%;
    margin-top: 10px;
    z-index: 100;
    color: var(--mainColor2);
    font-size: 18px;
}
.boxItem .imgBox{
    margin-left: 5%;
    width: 90%;
    height: 220px;
    border-radius: 10px;
}
.boxItem .imgBox .imgProduct{
    width: 90%;
    height: 200px;
}
.boxItem .nameProduct{
    font-size: 14px;
    color: var(--mainColor2);
    font-weight: bold;

}
.boxItem .priceProduct{
    font-size: 16px;
    color: var(--mainColor1);
}
.boxItem .linkProductDetail{
    text-decoration: none;
}
/* END CSS FOR LIST PRODUCT */

@media(max-width: 1200px)
{
    /* START RESPONSIVE FOR LIST PRODUCT */
    .boxItem{
        width: 18%;
        height: 270px;
        margin:0
    }
    .boxItem .gio{
        margin-left: 18%;
        margin-top: 8px;
        font-size: 17px;
    }
    .boxItem .imgBox{
        margin: 0;
        width: 90%;
        height: 180px;
    }
    .boxItem .imgBox .imgProduct{
        height: 180px;
    }
    .boxItem .nameProduct{
        font-size: 13px;
    }
    .boxItem .priceProduct{
        font-size: 15px;
    }
    /* END RESPINSVE FOR LIST PRODUCT */
    
}

    
    @media(max-width: 540px)
    {
    /* START RESPONSIVE FOR LIST PRODUCT */
    .container .boxItem{
        width: 50%;
        height: 220px;
        margin:0;
    }
    .boxItem .gio{
        margin-left: 35%;
        margin-top: 6px;
        font-size: 15px;
    }
    .boxItem .imgBox{
        margin: 0;
        width: 90%;
        height: 150px;
    }
    .boxItem .imgBox .imgProduct{
        height: 140px;
    }
    .boxItem .nameProduct{
        font-size: 11px;
    }
    .boxItem .priceProduct{
        font-size: 13px;
    }
    /* END RESPINSVE FOR LIST PRODUCT */
    @media(max-width: 415px)
    {
        .mainTop .main_boxmenu {
            width: 80%;
            display: block;
            text-align: left;
            height: 85px;
            margin-right: 5%;
            font-size: 12px;
            font-weight: bold;
            margin-top:8px;
       }
       .mainTop .img_box{
           width: 25px;
       }
       .mainTop .main_boxmenu p{
           font-size: 8px;
       }
       .mainTop #iconbar{
        display: block;
        padding-top: 45px;
        padding-left: 20px;
        font-size: 12px;
    }
       
       
    }
    @media(max-width: 415px)
    {
        .mainTop .main_boxmenu {
            width: 80%;
            display: block;
            text-align: left;
            height: 80px;
            margin-right: 5%;
            font-size: 12px;
            font-weight: bold;
            margin-top:8px;
       }
       .mainTop .img_box{
           width: 25px;
       }
       .mainTop .main_boxmenu p{
           font-size: 7px;
       }
       .mainTop #iconbar{
        display: block;
        padding-top: 35px;
        padding-left: 20px;
        font-size: 12px;
    }
       
       
    }
    }