*{
    margin: 0;
    padding: 0;
}
/* START CSS CONTAINER */
#container{
    width: 100%;
    height: 100vh;
}
#banner{
    text-align: center;
    width: 100%;
    height: 15%;
    background-image: url(image/banner_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: 70%;
    background-color: thistle;
    box-sizing: border-box;
}

#footer{
    width: 100%;
    height: 15%;
    background-color: lightcoral;
    float: left;
    box-sizing: border-box;
}
/* END CSS CONTAINER */



/* START CSS BANNER */
#banner h2{
    line-height: 50px;
    color:tomato;
}
#banner #menu a{
    line-height: 30px;
    text-decoration: none;
    color: white;
}
#banner #menu a:hover{
    text-decoration: underline;
    color:rgb(216, 142, 6);
}
/* END CSS BANNER */


/* START CSS MAIN */
#main h2{
    margin-left: 15%;
    margin-bottom: 15px;
    padding-top: 15px;
}
#main #detail_phone {
    width: 80%;
    height: 400px;
    box-sizing: border-box;
    float: left;
    margin-bottom: 15px;
    margin-left: 10%;
    border: lightcoral 1px solid;
}
#main #total{
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-top: solid 1px grey;
}
#main #btn{
    margin: 10px 10% 0px 10%;
    padding-left: 50px;
    width: 80%;
    float: right;
    text-align: right;
    box-sizing: border-box;
}
    /* START DETAIL_PHONE */
    .item{
        height: 100px;
        width: 100%;
        float: left;
        background-color: lightblue;
    }
    .item .hinh{
        width: 30%;
        float: left;
    }
    .item .mieuta{
        width: 40%;
        float: left;
    }
    .item .soluong{
        width: 30%;
        float: left;
    }
       /* END DETAIL_PHONE */

        /* START TOTAL CSS */
        #main #total h4{
            padding-top: 15px;
        }
        #total #labell{
            width: 70%;
            text-align: right;
        }
        #total #money{
            width: 30%;
            text-align: center;
        }
        /* END TOTAL CSS */

        /* START BTN CSS */
        #btn #btn1{
            height: 40px; width: 150px;
            background-color: lightgray;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: none;
            margin-right: 30px;
        }
        #btn #btn1_phone{
            height: 40px; width: 100%;
            display: none;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: none;
            background-color: lightgray;
        }
        #btn #btn2{
            height: 40px; width: 150px;
            background-color: rgba(205, 92, 92, 0.774);
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: none;
        }
        /* END BTN CSS */
/* END CSS MAIN*/

/* START CSS FOOTER */
#footer .giaohang{
    width: 25%;
    float: left;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding-top: 2%;
}
#footer .giaohang img{
    width: 50px;
}
#footer .giaohang:hover{
    transform: scale(1.25);
    transition: all ease-in-out 0.5s;
}
/* END CSS FOOTER*/

/* START RESPONSIVE */
@media (max-width: 1200px){
#main #detail_phone {
    margin-left: 0px;
    margin-right: 0px;
    height: 550px;
    width: 100%;
}
#footer .giaohang{
    padding-top: 5%;
}
}
@media (max-width: 450px){
    #footer .giaohang{
        font-size: 10px;
        padding-top: 5%;
    }
    #footer .giaohang img{
        width: 35px;
    }
    #main #total h4{
        text-align: left;
    }
    
    #btn #btn1{
        display: none;
    }
    #btn #btn1_phone{
        display: block;
        margin-top: 10px;
    }
    #btn #btn2{
        width: 100%;
        margin-top: 10px;
    }
    #main #detail_phone{
        height: 250px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 390px){
    #main #detail_phone{
        height: 220px;
    }
}
@media (max-width: 330px){
    #main #detail_phone{
        height: 190px;
    }
}


