:root{
    --mainColor1: #f3c623;
    --mainColor2: #095058;
    --mainColor3: #f6eec7;
    --mainColor4: #a4d4ae;
}
html{
    position: relative;
}
body{

    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    background-color:#fff;
}
/* START BODY OF HTML CSS */
#popup{
    width: 700px;
    border: solid gray 1px;
    float: left;
    position: absolute;
    top: 450px;
    left:  25%;
    z-index: 1;
    background-color: white;
    display: none;
    border-radius: 5px;
}
#container{
    width: 100%;
    margin-top: 15px;
    float: left;
}
/* END BODY OF HTML CSS */
    /* START POPUP CSS */
    .canle{
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    #pop_title{
    width: 100%;
    float: left;
    border-bottom: var(--mainColor2);
    margin-bottom: 5px;
    height: 35px;
    background-color: var(--mainColor4);
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    border-radius: 5px 5px 0 0;
}
    #pop_detail{
    width: 100%;
    float: left;
    height: 200px;
    border-bottom: black solid 1px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
    #pop_total{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
    #pop_btn{
    width: 100%;
    float: left;
    text-align: right;
    line-height: 45px;
    height: 45px;
    margin-bottom: 10px;
}
        /* START POPUP TITLE */
        #text{
            padding-top: 2px;
            width: 95%;
            float: left;
            padding-left: 10px;
            box-sizing: border-box;
        }
        #thoat{
            padding-top: 3px;
            width: 5%;
            float: left;
            text-align: center;
            box-sizing: border-box;
            border-radius: 5px 5px 5px 5px;
        }
        /* END POPUP TITLE */
        
        /* START POP UP DETAIL */
        .item{
            height: 90px;
            width: 96%;
            margin-left: 2%;
            float: left;
            border-bottom:1px solid var(--mainColor2);
        }
        .item .hinh{
            width: 20%;
            float: left;
        }
        .item .hinh img{
           
            width: 90px;
            height:90px;
        }
        .item .mieuta{
            padding-top: 25px;
            width: 40%;
            float: left;
        }
        .item .mieuta .tenSP{
            font-size: 14px;
            color: var(--mainColor2);
        }
        .item .mieuta .giaSP{
            font-size: 16px;
            color: var(--mainColor1);
        }
        .item .soluong{
            padding-top: 25px;
            width: 20%;
            float: left;
        }
        .item .soluong input{
            text-align: center;
            width: 35px;
            height: 25px;
        }
        .item .thanhtien{
            padding-top: 30px;
        }
        /* END POP UP DETAIL */

        /* START PUP UP TOTAL */
            
        #total_left{
        width: 50%;
        text-align: left;
        float: left;
        }
        #total_right{
        width: 50%;
        text-align: right;
        float: left;
        }
        .bold{
        font-weight: bold;
        }
        #tongSP{
            color: rgb(133, 132, 132);
        }
        #tongtien{
            font-size: 22px;
            color: var(--mainColor2);
        }     
        /* END PUP UP TOTAL */

        /* START POP UP BTN */
        #pop_btn input{
            padding-right: 20px;
            height: 35px;
            border-radius: 5px 5px 5px 5px;
            border: rgb(224, 222, 222);
        }
        /* #popup_btn input:hover{
            background-color: rgb(245, 151, 10);
        } */
        #btn-giohang{
            width: 100px;
            background-color:var(--mainColor3);
            color: black;
            border-radius: 5px 5px 5px 5px;
            margin-right: 20px;
        }
        #btn-giohang:hover{
            background-color: rgb(245, 151, 10);
        }
        #btn-thanhtoan{
            width: 200px;
            background-color: var(--mainColor1);
            color: black;
        }
        #btn-thanhtoan:hover{
            background-color: rgb(245, 151, 10);
        }
        #btn-phone{
            display: none;
            width: 100px;
            background-color: rgb(170, 168, 168);
            color: white;
            border-radius: 5px 5px 5px 5px;
            border: rgb(224, 222, 222);
            margin-right: 20px;
        }
        #btn-phone:hover{
            background-color: rgb(245, 151, 10);
        }
        /* END POP UP BTN */
/* END POPUP CSS */

/* START CONTAINER CSS */
#banner{
    text-align: center;
    width: 100%;
    height: 200px;
    background-image: url(/img/gioithieu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-bottom: 15px;
    float: left;
    z-index: 0;
    margin-bottom: 10px;
}
#cover{
    height:auto;
    width: 100%;
}

        /* START BANNER CSS  */
        #banner h2{
            line-height: 100px;
            color:var(--mainColor1);
           
        }
        #banner #menu a{
            line-height: 5px;
            text-decoration: none;
            color: white;
            margin: 0px;
            padding: 0px;
        }
        #banner #menu a:hover{
            text-decoration: underline;
            color:rgb(216, 142, 6);
        }
        /* END BANNER CSS  */

        /* START COVER CSS  */
        #content{
            height: auto;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        
        /* END COVER CSS  */
    /* START CONTENT CSS  */
    /* css cho image div */
    #image{
        height: 500px;
        width: 45%;
        float: left;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    #image #main{ 
        width: 100%;
        height: auto;
        text-align: center;
    
    }
    #image #main img{
        width: 400px;
        height: 400px;
    } 
                /* START CSS SLIDE */
                #image #slide{
                    height: 150px;
                    width: 100%;
                    margin-left: 14%;
                    float: left;
                } 
                #slide .boxPhoto{
                    width: 23%;
                    margin-top: 10px;
                    margin-right: 10px;
                    height: 120px;
                    float: left;
                }
                #slide .boxPhoto:hover{
                    transform: scale(1.05);
                    transition: all ease-in-out 0.5s;
                }
                #slide .boxPhoto img{
                    width: 100%;
                    height: 100px;
                }
                /* END CSS SLIDE */
        /* css cho description div */
    #description{
        width: 45%;
        height: 480px;
        float: left;
        background-color: var(--mainColor3);
        box-sizing: border-box;
        text-align:inherit;
        padding-left: 2%;
        margin-left: 5px;
    }
    #description h4{
        text-decoration: none;
        font-weight:bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
    #description span{
        font-size: 13px;
    }
    #description #gach{
        width: 50px;
        height: 1px;
        margin-bottom: 15px;
        border-bottom: solid 2px gray;
    }
    #description #price{
        width: 180px;
        height: 47px;
        background-color: var(--mainColor4);
        text-align: center;
        line-height: 35px;
        margin-bottom: 15px;
        font-size: 28px;
        padding-top: 12px;
    }
    #description label{
        color: rgb(192, 3, 3);
        margin-right: 30px;
    }
    #description #soluong{
        width: 60px;
        height: 26px;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
    }
   
    #description #btn{
        height: 40px; 
        width: 250px;
        background-color:var(--mainColor1);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: none;
        color: white;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 18px;
        }
    #description #btn:hover{
        background-color:var(--mainColor2);
    }
    #description #sdt{
            color: rgb(192, 4, 4);
        }
            /* css cho recommend div */
    #recommend{
        height: 270px;
        width: 100%;
        background-color:var(--mainColor3);
        float: left;
        margin-top: 30px;
    }
    #recommend #title{
        width: 250px;
        background-color: var(--mainColor1);
        float: left;
        text-align: center;
        height: 35px;
        line-height: 35px;
    }
    #recommend #title h5{
        margin: 0;
        padding: 0;
        color: white;
        font-weight: 540;
        font-size: 15px;
    }
    #recommend #list{
        float: left;
        width: 100%;
        border-top: gray 1px solid;
       

    }
            /* START CSS RECOMMEND */
                    #list .boxItem{
                        width: 18%;
                        height: 200px;
                        float: left;
                        text-align: center;
                    }
                    .boxItem .imgBox{
                        margin: 5% 5% 5% 5%;
                        width: 80%;
                        height: 150px;
                        border-radius: 10px;
                    }
                    .boxItem .imgBox .imgProduct{

                        width: 100%;
                        height: 100%;
                    }
                    .boxItem .nameProduct{
                        font-size: 14px;
                        color: var(--mainColor2);
                        margin-bottom: -8px;
                    }
                    .boxItem .priceProduct{
                        font-size: 16px;
                        color: var(--mainColor1);
                    }
                    .boxItem .linkProductDetail{
                        text-decoration: none;
                    }
                    .boxItem .imgBox:hover{
                        transform: scale(1.05);
                        transition: all ease-in-out 0.5s;
                    }
            /* END CSS RECOMMEND */
    /* END COVER CSS  */
/* END CONTAINER CSS */



/* reposive main css  */
@media (max-width: 1100px){
    #content{
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #main img{
        width: 330px;
        height: 330px;
    } 
    #image{
        width: 50%;
    }
    #description{
        width: 47%;
        font-size: 12px;
    }
    
}
@media (max-width: 550px){
    #content{
        height: auto;
        width: 100%;
        /* margin-left: auto;
        margin-right: auto; */
    }
    #image #main img{
        width: 300px;
        height: 300px;
    } 
    #content #image{
        width: 100%;
    }
    #image #slide{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    #description{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
    }
    #title{
        width: 170px;
        background-color: tomato;
        float: left;
        text-align: center;
        height: 25px;
        line-height: 25px;
        font-size: 15px;
    }
    #title h5{
        margin: 0;
        padding: 0;
        color: white;
        font-weight: bold;
    }
    /* #viewed H4{
        text-align: center;
        margin-top: 7px;
        font-size: 15px;
    } */
}
/* responsive popup css */
@media (max-width: 1500px){
    #popup{
        left:  20%;
    }
}
@media (max-width: 900px){
    #popup{
        left:  10%;
        width: 80%;
    }
}
@media (max-width: 500px){
    #popup{
        margin-left: 2%;
        width: 94%;
        top: 650px;
        left: 3px;
        height: auto;
    }
    #pop_title{
        font-size: 15px;
    }
    #total_left{
        width: 100%;
        font-size: 13px;
    }
    #total_right{
        width: 100%;
        font-size: 13px;
        text-align: left;
    }
    #pop_total{
        height: 60px;

    }
    #btn-giohang{
        width: 100%;
    }
    
    #btn-thanhtoan{
        width: 100%;
        margin-top: 10px;
    }
    #pop_btn{
        height: 100px;
    } 
}
@media (max-width: 360px){
    #pop_title{
        font-size: 13px;
    }
}


/* RESPONSIVE RECOMMEND */
@media (max-width: 900px){
    #recommend{
        height: 250px;
        
    }
    #list .boxItem{
        width: 20%;
        height: 180px;
        float: left;
        text-align: center;
    }
    .boxItem .imgBox{
        margin: 5% 5% 5% 5%;
        width: 80%;
        height: 110px;
        border-radius: 10px;
    }
    
}
@media (max-width: 500px){
    #recommend{
        height: auto;
        
    }
    #list .boxItem{
        width: 50%;
        height: 190px;
        float: left;
        text-align: center;
    }
    .boxItem .imgBox{
        margin-top: 5px;
        margin-left: 10%;
        width: 80%;
        height: 120px;
    }
    
}


/* RESPONSIVE SLIDE IMG */

@media (max-width: 900px){
    #image #slide{
        height: 130px;
    } 
    #slide .boxPhoto{
        height: 110px;
    }
    #slide .boxPhoto img{
        height: 80px;
    }
}
@media (max-width: 500px){
    #img{
        height: 150px;
        margin-bottom: 0;
    }
    #img #main{
        height: 150px;
    }
    #image #slide{
        height: 100px;
        margin-bottom: 0;
        margin-left: 10%;
    } 
    #slide .boxPhoto{
        height: 90px;
    
    }
    #slide .boxPhoto img{
        height: 80px;
    }
}