*{
    margin:0;
    padding:0;
}
body{
    height: auto;
    font-family:'Montserrat', sans-serif;
    background-color:#fff;
    float: left;
}
.header,.footer{
    width: 100%;
    float: left;
}
iframe{
    width: 100%;
}
.container{
    width: 100%;
    height: auto;
    float: left;
}
.banner{
    width: 100%;
    height: 280px;
    background-image: url(/css/image/gioithieu.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    width: 100%;
    height: auto;
    background-color: #fff;
}
.banner_content{
  
    text-align: center;
    padding: 100px;}
   
#banner_title{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    margin-top:10px;
}
.banner_item{
   
   
    display: flex;
}
  
#gioithieu{
    color:rgb(243, 91, 31);
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:rgb(243, 91, 31);}
h1{
    color: #fff;
    letter-spacing: 6px;
    font-weight: bold;

}
.banner_item #iconright{
    color: #fff;
    font-size: 12px;
}
.main_content{
    width: 100%;
    height: auto;
    display: flex;
}
    
.main_contenttext{
    width: 100%;
    background-color:#fff;
    float: left;
    padding: 0px;
}




.main_contenttext H2 {
    color: #000;
    width: fit-content;
    margin: 0 auto;
    padding: 40px;

    letter-spacing: 4px;
   
    
}
.main_contenttext p {
    color: #000;
   letter-spacing: 0.2px;
   padding-left: 100px;
   padding-right: 100px; 
  
    
}

    
@media(max-width: 1025px)
{
   
    .main_contenttext p {
        color: #000;
       letter-spacing: 0.2px;
       padding-left: 50px;
       padding-right: 50px;
     
        
    }
    .banner{
        width: 100%;
        height: 200px;
        background-image: url(/css/image/gioithieu.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #banner_title{
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: fit-content;
        margin-top:0px;
    }
    .banner_content{
  
        text-align: center;
        padding: 70px;}
}
@media(max-width: 800px)
{

    .main_contenttext p {
        color: #000;
       letter-spacing: 0.2px;
       padding-left: 50px;
       padding-right: 50px;
     
        
    }
    .banner{
        width: 100%;
        height: 200px;
        background-image: url(/css/image/gioithieu.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #banner_title{
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: fit-content;
        margin-top:0px;
    }
    .banner_content{
  
        text-align: center;
        padding: 70px;}

}
@media(max-width: 540px)
{

    .main_contenttext p {
        color: #000;
       letter-spacing: 0.2px;
       padding-left: 30px;
       padding-right: 30px;
       text-align: justify;
       font-size: 12px;
     
        
    }
    .banner{
        width: 100%;
        height: 150px;
        background-image: url(/css/image/gioithieu.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #banner_title{
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: fit-content;
        margin-top:0px;
    }
    .banner_content{
  
        text-align: center;
        padding: 50px;
        font-size: small;
    }
}
@media(max-width: 440px)
{
    
    .main_contenttext p {
        color: #000;
       letter-spacing: 0.2px;
       padding-left: 30px;
       padding-right: 30px;
       text-align: justify;
       font-size: 14px;
     
        
    }
    .banner{
        width: 100%;
        height: 150px;
        background-image: url(/css/image/gioithieu.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #banner_title{
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: fit-content;
        margin-top:0px;
    }
    .banner_content{
  
        text-align: center;
        padding: 50px;
        font-size: small;
    }
    
    .main_contenttext H2 {
       
        width: fit-content;
        margin: 0 auto;
        padding: 40px;
        letter-spacing: 3px;
        font-size: 17px;
       
        
    }
}
@media(max-width: 350px){

    .main_contenttext h2{
        font-size: 16px;

    }
    
}
