<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDEA | ICHI</title>
    <script src="/js/angular.min.js"></script>
    <link rel="stylesheet" href="/css/ICHIIdea.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script >
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
        function zoomImg(src){
            var lightbox = document.getElementById('lightbox');
            var imagePlaceholder = document.getElementById('image-placeholder');
            imagePlaceholder.src = src;
            lightbox.style.display = 'block';
        }
        
        function closeImg(){
            document.getElementById('lightbox').style.display = 'none';
        }
    </script>
    <script>
        var app= angular.module("IdeaApp", [])
        app.controller('IdeaController', function ($scope, $http) {
        $http({
            method:"GET",
            url:"/json/blog.json"
        }) .then(function mySucces(respone){
            $scope.ideas=respone.data
        })
        })
        app.filter('filterCategory',function(){
            return function(input,category){
            var output=[]
            angular.forEach(input,function(item){
                if(item.category==category){
                    output.push(item)
                }
            })
            return output
            }
        })
    </script>
    <script >
        
    </script>
</head>
<body>
    <div class="wrap">
        <!-- HEADER -->
        <div class="header">
            <iframe src="ICHIheader.html" frameborder="0" scrolling='no'onload="resizeIframe(this)"></iframe>
        </div>
        <div class="banner">
            <img src="img/banner.jpg" alt="">
        </div>
        <!-- CONTENT SECTION -->
        <div class="content" >
            <div class="listIdea" ng-app="IdeaApp" ng-controller="IdeaController">
                <div class="nhomIdea" id="plan">
                    <h2>KẾ HOẠCH HÀNG NGÀY </h2>
                    <div class="line"></div>
                    <div class="listImg" ng-repeat="idea in ideas|filterCategory:'plan'">
                        <div class="storeImg">
                            <img src="{{idea.picture}}" alt="" onclick="zoomImg(this.src)">
                        </div>
                    </div>
                </div>
                <div class="nhomIdea" id="habit">
                    <h2>THEO DÕI THÓI QUEN </h2>
                    <div class="line"></div>
                    <div class="listImg" ng-repeat="idea in ideas|filterCategory:'habit'">
                        <div class="storeImg">
                            <img src="{{idea.picture}}" alt="" onclick="zoomImg(this.src)">
                        </div>
                    </div>
                </div>
                <div class="nhomIdea" id="expense">
                    <h2>THEO DÕI CHI TIÊU </h2>
                    <div class="line"></div>
                    <div class="listImg" ng-repeat="idea in ideas|filterCategory:'expense'">
                        <div class="storeImg">
                            <img src="{{idea.picture}}" alt="" onclick="zoomImg(this.src)">
                        </div>
                    </div>
                </div>
                <div class="nhomIdea" id="mood">
                    <h2>THEO DÕI TÂM TRẠNG </h2>
                    <div class="line"></div>
                    <div class="listImg" ng-repeat="idea in ideas|filterCategory:'mood'">
                        <div class="storeImg">
                            <img src="{{idea.picture}}" alt="" onclick="zoomImg(this.src)">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- LIGHTBOX -->
        <div id="lightbox">
            <span id="close-icon" onclick="closeImg()">&times;</span>
            <img id="image-placeholder" src="">
          </div>
        <!-- FOOTER -->
        <div class="footer">
            <iframe src="ICHIfooter.html" frameborder="0" scrolling='no' onload="resizeIframe(this)"></iframe>
        </div>
    </div>
    
</body>
</html>