<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/content.css">
    <script src="https://kit.fontawesome.com/4a3b1f73a2.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/appFactory.js"></script>
    <script>
        var app= angular.module("contentApp", [])
        app.controller('contentController', function ($scope, $http, $window) {
        $http({
            method:"GET",
            url:"/json/product.json"
        }) .then(function mySucces(respone){
            $scope.products=respone.data
        })
        })
        
        app.filter('filterCategory',function(){
            return function(input,category){
                var output=[]
                angular.forEach(input,function(item){
                    if(item.category==category){
                        output.push(item)
                    }
                })
                return output
            }
        })
        app.filter('filterSanPhamBanChay',function(){
            return function(input){
                var output=[]
                angular.forEach(input,function(item){
                    if(item.banchay==1){
                        output.push(item)
                    }
                })
                return output
            }
        })
        
    </script>
</head>
<body>
    <div class="wrap">
        <div class="content" ng-app="contentApp" ng-controller="contentController" >
            <div class="nhomSP">
                <h2>SẢN PHẨM BÁN CHẠY</h2>
                <div class="boxItem" ng-repeat="pd in products|filterSanPhamBanChay|limitTo:5" >
                   
                    <a class="linkProductDetail" href="productDetail.html?id={{pd.id}}" target="_blank">
                        <div class="imgBox">
                            <img class="imgProduct" src="{{pd.Picture}}" alt="">
                            <div class="gio">
                                <i class="fas fa-shopping-cart addedToCart"></i>
                            </div>
                        </div>
                        <div class="nameProduct">{{pd.name}}</div><br>
                        <div class="priceProduct">{{pd.Price}} VNĐ</div>
                    </a>      
                </div>
            </div>
            <div class="banner">
                <img src="img/banner.jpg" alt="">
            </div>
            <div class="nhomSP">
                <h2>COMBO SẢN PHẨM</h2>
                <div class="boxItem" ng-repeat="pd in products|filterCategory:'combo'|limitTo:5">
                    
                    
                    <a class="linkProductDetail" href="productDetail.html?id={{pd.id}}" target="_blank" >
                        <div class="imgBox">
                            <img class="imgProduct" src="{{pd.Picture}}" alt="">
                            <div class="gio">
                                <i class="fas fa-shopping-cart addedToCart"></i>
                            </div>
                        </div>
                        <div class="nameProduct">{{pd.name}}</div><br>
                        <div class="priceProduct">{{pd.Price}} VNĐ</div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>