<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PRODUCT | ICHI </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4a3b1f73a2.js"></script>
    <link rel="stylesheet" href="/css/ICHIContentProduct.css">
    <script src="/js/angular.min.js"></script>
    <script>
        var dp=0
        var category="Sổ"
        function Appear(vt){
            var x=document.getElementById(vt)
            if(dp==0){
                x.style.display='block'
                dp=1
            }
            else{
                x.style.display='none'
                dp=0
            }   
        }
        var app= angular.module("filterApp", [])
        app.controller('filterController', function ($scope, $http) {
            $http({
                method:"GET",
                url:"/json/product.json"
            }) .then(function mySucces(respone){
                $scope.category=function(cate){
                    $scope.categoryPD=cate
                }
            })
        })
        
    </script>
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
</head>
<body>
    <div class="mainContainer" ng-app="filterApp" ng-controller="filterController">
        <div class="mainTop">
            <div class="menu_bar">
                <label  for="input_mobile" class="main_barmenu">
                    <i id="iconbar" class="fas fa-bars"></i>
                </label>
                <input hidden type="checkbox" id="input_mobile" class="input_mobile_mob">
                
                <label  for="input_mobile" class="overlay"></label>
                <div class="menu_mobile" >
                    <label  for="input_mobile" class="iconclose">
                        <i class="fas fa-times"></i>
                    </label>
                    <div class="mainCateFil_mob">
                        <div class="mainCategory">
                            <div class="category_title">
                                <span>DANH MỤC</span>
                            </div>
                            <div class="category_box_mob">
                                <div class="category_boxitem">
        
                                    <div class="item" ng-click="category('Sổ')">
                                        <div class="itemlink">
                                            <div class="link">
                                                <a class="category_link" href="">Sổ tay</a>
                                            </div>
                                            <div class="icon">
                                                <a href="#" id="1" onclick="Appear('vt1')"><i id="angle_down" class="fas fa-angle-down"></i></a>
                                            </div>
                                        </div>
                                        <div class="drop_menu" id="vt1">
                                            <ul class="dropdown_menu_ul">
                                                <li class="drop-content"> <a href="#">Sổ kẻ ngang - LINED</a></li>
                                                <li class="drop-content"><a href="#">Sổ chấm - DOTED</a></li>
                                                <li class="drop-content" ><a href="#">Sổ trơn - PLAIN</a></li>
                                                <li class="drop-content"><a href="#">Sổ ô vuông - GRID</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="item" ng-click="category('Vở')">
                                        <div class="itemlink">
                                            <div class="link">
                                                <a class="category_link" href="">Vở viết</a>
                                            </div>
                                            <div class="icon">
                                                <a href="#" id="2" onclick="Appear('vt2')"><i id="angle_down" class="fas fa-angle-down"></i></a>
                                            </div>
                                        </div>
        
                                        <div class="drop_menu" id="vt2">
                                            <ul class="dropdown_menu_ul">
                                                <li class="drop-content"> <a href="#">Vở chấm - DOT GRID</a></li>
                                                <li class="drop-content"><a href="#">Vở ô vuông - GRID</a></li>
                                                <li class="drop-content" ><a href="#">Vở vẽ - SKETCHPAD</a></li>
                                                <li class="drop-content"><a href="#">Sổ ô vuông - GRID</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="item" ng-click="category('PhuKien')">
                                        <div class="itemlink">
                                            <div class="link">
                                                <a class="category_link" href="">Phụ kiện</a>
                                            </div>
                                            <div class="icon">
                                                <a href="#" id="3" onclick="Appear('vt3')"><i id="angle_down" class="fas fa-angle-down"></i></a>
                                            </div>
                                        </div>
        
                                        <div class="drop_menu" id="vt3">
                                            <ul class="dropdown_menu_ul">
                                                <li class="drop-content"> <a href="#">Bút </a></li>
                                                <li class="drop-content"><a href="#">Sticker</a></li>
                                                <li class="drop-content" ><a href="#">Giấy ghi chú - Notepad</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="item" ng-click="category('gift')">
                                        <div class="itemlink">
                                            <div class="link">
                                                <a class="category_link" href="">Gift box</a>
                                            </div>
                                            <div class="icon">
                                                <a href="#" id="4" onclick="Appear('vt4')"><i id="angle_down" class="fas fa-angle-down"></i></a>
                                            </div>
                                        </div>
        
                                        <div class="drop_menu" id="vt4">
                                            <ul class="dropdown_menu_ul">
                                                <li class="drop-content"> <a href="#">Happy Box</a></li>
                                                <li class="drop-content"><a href="#">Ribbon Box</a></li>
                                                <li class="drop-content" ><a href="#">Christmas Box</a></li>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="item" ng-click="category('planner')">
                                        <div class="itemlink">
                                            <div class="link">
                                                <a class="category_link" href="">Planner 2021</a>
                                            </div>
                                            <div class="icon">
                                                <a href="#" id="9" ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="mainFilter">
                            <div class="filter_title">
                                <span>KHOẢNG GIÁ</span>
                            </div>
                            <div class="filter_box_mob">
                                <div class="filter_boxitem_mob">
                                    <div class="filter_item">
                                        <input class="filter_input_mob" type="checkbox"><label>Giá dưới 10.000đ</label> </input>
                                        <span class="checkmark"></span>
                                    </div>
                                    <div class="filter_item">
                                        <input class="filter_input_mob" type="checkbox"><label>Giá từ 10.000đ - 50.000đ</label> </input>
                                        <span class="checkmark"></span>
                                        
                                    </div>
                                    <div class="filter_item">
                                        <input class="filter_input_mob" type="checkbox"><label>Giá từ 50.000đ - 100.000đ</label> </input>
                                        <span class="checkmark"></span>
                                    </div>
                                    <div class="filter_item">
                                        <input class="filter_input_mob" type="checkbox"><label> Giá từ 100.000đ - 200.000đ</label></input>
                                        <span class="checkmark"></span>
                                    </div>
                                    <div class="filter_item">
                                        <input class="filter_input_mob" type="checkbox"><label>Giá từ 200.000đ - 500.000đ</label>  </input>
                                        <span class="checkmark"></span>
                                    </div>
                                    <div class="filter_item">
                                        <input class="filter_input_mob" type="checkbox"><label>Giá trên 500.000đ</label>  </input>
                                        <span class="checkmark"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <label  for="input_mobile" class="overlay">

            </label>
            <div class="main_boxmenu" >
                <div class="box" id="menuSo" ng-click="category('Sổ')">
                    <a href=""><img class="img_box" src="css/image/untitled-1-01.jpg" alt=""></a>
                    <p >Sổ tay</p>
                </div>
                <div class="box" id="menuVo" ng-click="category('Vở')">
                    <a href=""><img class="img_box" src="css/image/untitled2-01.jpg" alt=""></a>
                    <p>Vở viết</p>
                </div>
                <div class="box"id="menuPhuKien" ng-click="category('PhuKien')" >
                    <a href=""><img class="img_box" src="css/image/untitled-3-01.png" alt=""></a>
                    <p>Phụ kiện</p>
                </div>
                <div class="box" id="menuCombo" ng-click="category('combo')">
                    <a href=""><img class="img_box" src="css/image/untitled-4-02.jpg" alt=""></a>
                    <p>Combo</p>
                </div>
                <div class="box"id="menuPlanner" ng-click="category('planner')">
                    <a href=""><img class="img_box" src="css/image/untitled6-01.png" alt=""></a>
                    <p>Planner 2021</p>
                </div>   
            </div>
        </div>
        <div class="mainLeftRight">
            <div class="mainLeft">
                <div class="mainCateFill">
                    <div class="mainCategory">
                        <div class="category_title">
                            <span>DANH MỤC</span>
                        </div>
                        <div class="category_box">
                            <div class="category_boxitem">
    
                                <div class="item">
                                    <div class="itemlink">
                                        <div class="link">
                                            <a class="category_link" href="">Sổ tay</a>
                                        </div>
                                        <div class="icon">
                                            <a href="#" id="5" onclick="Appear('vt5')"><i class="fas fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div class="drop_menu" id="vt5">
                                        <ul class="dropdown_menu_ul">
                                            <li class="drop-content"> <a href="#">Sổ kẻ ngang - LINED</a></li>
                                            <li class="drop-content"><a href="#">Sổ chấm - DOTED</a></li>
                                            <li class="drop-content" ><a href="#">Sổ trơn - PLAIN</a></li>
                                            <li class="drop-content"><a href="#">Sổ ô vuông - GRID</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="item">
                                    <div class="itemlink">
                                        <div class="link">
                                            <a class="category_link" href="">Vở viết</a>
                                        </div>
                                        <div class="icon">
                                            <a href="#" id="6" onclick="Appear('vt6')"><i class="fas fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div class="drop_menu" id="vt6">
                                        <ul class="dropdown_menu_ul">
                                            
                                            <li class="drop-content"><a href="#">Vở chấm - DOT GRID</a></li>
                                            <li class="drop-content" ><a href="#">Vở ô vuông - PLAIN</a></li>
                                            <li class="drop-content"><a href="#">Vở vẽ</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="item">
                                    <div class="itemlink">
                                        <div class="link">
                                            <a class="category_link" href="">Phụ kiện</a>
                                        </div>
                                        <div class="icon">
                                            <a href="#" id="7" onclick="Appear('vt7')"><i class="fas fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div class="drop_menu" id="vt7">
                                        <ul class="dropdown_menu_ul">
                                            <li class="drop-content"> <a href="#">Sổ kẻ ngang - LINED</a></li>
                                            <li class="drop-content"><a href="#">Sổ chấm - DOTED</a></li>
                                            <li class="drop-content" ><a href="#">Sổ trơn - PLAIN</a></li>
                                            <li class="drop-content"><a href="#">Sổ ô vuông - GRID</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="item">
                                    <div class="itemlink">
                                        <div class="link">
                                            <a class="category_link" href="">Gift box</a>
                                        </div>
                                        <div class="icon">
                                            <a href="#" id="8" onclick="Appear('vt8')"><i class="fas fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div class="drop_menu" id="vt8">
                                        <ul class="dropdown_menu_ul">
                                            <li class="drop-content"> <a href="#">Sổ kẻ ngang - LINED</a></li>
                                            <li class="drop-content"><a href="#">Sổ chấm - DOTED</a></li>
                                            <li class="drop-content" ><a href="#">Sổ trơn - PLAIN</a></li>
                                            <li class="drop-content"><a href="#">Sổ ô vuông - GRID</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="item">
                                    <div class="itemlink">
                                        <div class="link">
                                            <a class="category_link" href="">Planner 2021</a>
                                        </div>
                                        <div class="icon">
                                            <a href="#" id="9" onclick="Appear('vt9')"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="mainFilter">
                        <div class="filter_title">KHOẢNG GIÁ</div>
                        <div class="filter_box">
                            <div class="filter_boxitem">
                                <div class="filter_item">
                                    <input class="filter_input" type="checkbox">Giá dưới 10.000đ</input>
                                    <span class="checkmark"></span>
                                </div>
                                <div class="filter_item">
                                    <input class="filter_input" type="checkbox">Giá từ 10.000đ - 50.000đ</input>
                                    <span class="checkmark"></span>
                                    
                                </div>
                                <div class="filter_item">
                                    <input class="filter_input" type="checkbox">Giá từ 50.000đ - 100.000đ</input>
                                    <span class="checkmark"></span>
                                </div>
                                <div class="filter_item">
                                    <input class="filter_input" type="checkbox">Giá từ 100.000đ - 200.000đ</input>
                                    <span class="checkmark"></span>
                                </div>
                                <div class="filter_item">
                                    <input class="filter_input" type="checkbox">Giá từ 200.000đ - 500.000đ </input>
                                    <span class="checkmark"></span>
                                </div>
                                <div class="filter_item">
                                    <input class="filter_input" type="checkbox">Giá trên 500.000đ </input>
                                    <span class="checkmark"></span>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>

            </div>
            <div class="mainRight">
                <iframe src="ICHIProduct_List.html?category={{categoryPD}}?sub={{}}?gia={{}}" frameborder="0" scrolling='no' onload="resizeIframe(this)"></iframe>
            </div>
        </div>
    </div>

</body>
</html>