<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết 1 sản phẩm</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/appFactory.js"></script>
    <style>
        .header{
            width: 90%;
            float: left;
            margin-right: 10%;
        }
        .footer{
            width: 100%;
            float: left;
            margin: 0;
        }
        iframe{
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
    <script>
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                function(m, key, value) {
                    vars[key] = value;
                });
            return vars;
        }
        var app= angular.module("contentApp", [])
        app.controller('detailProduct', function ($scope, $http) {
        $http({
            method:"GET",
            url:"/json/product.json"
        }) .then(function mySucces(respone){
            $scope.products=respone.data
            $scope.idproduct=unescape(getUrlVars()["id"])
            $scope.photos=function(item){
                return item.photos
            } 
            $scope.category=function(){
                category=""
                for(var i=0; i<products.length;i++){
                    if(products[i].id==idproduct){
                        category=products[i].category
                    }
                }
                return category
            }   
        })
        })
        app.filter('filterProduct',function(){
            return function(input,id){
                var output=[]
                angular.forEach(input,function(item){
                    if(item.id==id){
                        output.push(item)
                    }
                })
                return output
            }
        })
        app.filter('filterCategory',function(){
            return function(input,category){
                var output=[]
                angular.forEach(input,function(item){
                    if(item.category==category){
                        output.push(item)
                    }
                })
                return output
            }
        })
        
    </script>
    <script >
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
</head>
<body>
  <!-- Đây là popup sản phẩm -->
  <div id="popup">
    <div id="pop_title">
        <div id="text">
            <i class="fas fa-check"></i> &nbsp; <span>Sản phẩm vừa được thêm vào giỏ hàng</span>
        </div>
        <div id="thoat">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <div id="pop_detail" class="canle">
        đây là table sp
    </div>
    <div id="pop_total" class="canle">
        <div id="total_left">
            <span class="bold">GIỎ HÀNG CỦA BẠN</span> &nbsp; <span class="bold" id="tongSP">(X sp)</span>
        </div>
        <div id="total_right">
            <span class="bold">Tổng tiền thanh toán</span> &nbsp; <span class="bold" id="tongtien">X.000.000 </span>
        </div>
    </div>
    <div id="pop_btn" class="canle">
        <input type="button" value=" Tới giỏ hàng" id="btn-giohang">
        <input type="button" value="Tiến hành thanh toán" id="btn-thanhtoan">
    </div>
  </div>  

   
      <!-- trang chính  -->
    <div class="header">
        <iframe src="ICHIheader.html" frameborder="0" scrolling='no'onload="resizeIframe(this)"></iframe>
    </div>
    <div id="container">

        <div id="banner">
            <h2>GIỎ HÀNG</h2>
            <span id="menu"> <a href="ICHI_main.html" target="_top">Trang chủ</a>&nbsp; <i id="iconright"class="fas fa-angle-right"></i> &nbsp;
             <a href="">Giỏ hàng</a> </span>
        </div>
        

        <div id="cover" ng-app="contentApp" ng-controller="detailProduct">
            <div id="content" ng-repeat="pd in products|filterProduct:idproduct">
                <div id="image">
                <div id="main">
                    <img src="{{pd.Picture}}" alt="">
                </div>
                <div id="slide">
                    <div class="boxPhoto" ng-repeat="pt in photos(pd)">
                        <div class="storePhoto">
                            <img src="{{pt}}" alt="">
                        </div>
                        
                    </div>
                </div>
                </div>
                <div id="description">
                    <h4>{{pd.name}}</h4>
                    <span>ICHI NOTEBOOK</span>
                    <div id="gach"></div>
                    <div id="price">{{pd.Price}}</div>
                    <label>Số lượng</label>
                    <input type="button" value="-"> 
                    <input type="number" name="" id="soluong">
                    <input type="button" value="+"> <br>
                    <input type="button" value="Thêm vào giỏ hàng" id="btn"><br>
                    Gọi đặt mua: <span id="sdt">0123456789</span> (Miễn phí, 8-21h cả T7, CN) <br><br>
                    Giao hàng và Đổi trả: <br>
                    <ul>
                        <li>Nhận hàng và ship ngay trong ngày vui lòng inbox qua Facebook và Fanpage để được xử lý ngay</li>
                        <li>Đổi trả hàng trong còng 2 ngày nếu lỗi từ nhà sản xuất</li>
                        <li>Không nhận đổi trả với lý do "Không vừa ý"</li>
                    </ul>
                </div>
                <div id="recommend">
                    <div id="title">
                        <h5>SẢN PHẨM TƯƠNG TỰ</h5>
                    </div>
                    <div id="list">
                        <div class="boxItem" ng-repeat="pdrecommend in products|filterCategory:pd.category|limitTo:5" >
                            <a class="linkProductDetail" href="productDetail.html?id={{pdrecommend.id}}" >
                                <div class="imgBox">
                                    <img class="imgProduct" src="{{pdrecommend.Picture}}" alt="">
                                </div>
                                <div class="nameProduct">{{pdrecommend.name}}</div><br>
                                <div class="priceProduct">{{pdrecommend.Price}} VNĐ</div>
                            </a>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <iframe src="ICHIfooter.html" frameborder="0"scrolling='no'onload="resizeIframe(this)"></iframe>
    </div>
</body>
</html>